<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT into t_user(username ,password , salt , phone , email , gender , avatar ,
                           is_delete , created_user , created_time , modified_user ,
                           modified_time ) VALUES(
                                               #{username} , #{password} , #{salt} , #{phone} ,
                                               #{email} , #{gender} , #{avatar} ,
                                                #{isDelete} , #{createdUser}, #{createdTime} ,
                                               #{modifiedUser} , #{modifiedTime})
    </insert>

    <resultMap id="UserEntityMap" type="com.example.demo.entity.User">
        <id column="uid" property="uid"></id>
        <result column="is_delete" property="isDelete" ></result>
        <result column="create_user" property="createUser"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <select id="findByName" resultMap="UserEntityMap" >
        SELECT * FROM t_user WHERE username = #{username}
    </select>

</mapper>